@media screen and (min-width: 1030px){
  :root{
    --main-width: 1000px;
  }

  /*Header*/
  .header{
    width: var(--main-width);
    height: 120px;
  }

  .logo{
    top: 55%;
    left: 2%;
  }

  .header-label{
    top: 61%;
    left: 42%;
    padding-left: 20px;
    font-size: 13px;
  }

  .search-bar{
    top: 20px;
    right: 20px;
  }

  .search-input{
    height: 20px;
  }

  .search-button{
    height: 22px;
  }

  /*Slider*/
  .slide-container{
    width: var(--main-width);
    height: 380px;
  }

  .slide-img-container{
    position: relative;
    width: calc(6 * 1000px);
    height: 380px;
  }

  .slider-button{
    margin-left: 15px;
    left: 15px;
    top: -40px;
  }

  /* Back bar */
  .back-bar{
    height: 150px;
  }

  .quote{
    font-size: 22px;
    margin: 40px 0px 0px 30px;
  } 

  .back-bar .social-icons-container{
    position: relative;
    top: -65px;
    left: 720px;
  }

  /* Articles */
  .article-container{
    width: 73%;
  }

  .article  h2, .article > a, .article p{
    left: 20px;
  }

  /* Side bar */ 
  .side-bar{
    width: 26%;
    height: 60%;
  }

  .side-bar > * {
    margin-left: 20px;
  }

    /* Sponsor block */
  .sponsor-table td{
    height: 80px;
    width: 150px;
    border: 8px solid rgb(238, 238, 238);
    padding: 5px;
  }

  .sponsor-table img{
    height: 90%;
  }

  /*Footer*/
  .footer > div{
    margin-top: 10px;
  }

  .about{
    margin-left: 40px;
    margin-right: 90px;
  }

  .flickr{
    margin-right: 90px;
  }
}