@media screen and (max-width: 649px){
  :root{
    --main-width: 100%;
  }

  /*Header*/
  .header{
    width: var(--main-width);
    height: 100px;
    text-align: center;
  }
  
  .logo{
    top: 4vh;
    left: 4vw;
    width: 50vw;
  }
  
  .header-label{
    top: 8vh;
    font-size: 2vw;
    margin-left: 4vw;
  }
  
  .search-bar{
    padding-left: 10px;
    top: 10px;
    right: 10px;
  }
  
  .search-input{
    font-size: 9px;
    width: 55px;
  }
  
  .search-button{
    font-size: 10px;
  }
  
  /*Slider*/
  .slide-container{
    width: 94vw;
  }
  
  .slide-img-container{
    position: relative;
    width: calc(6 * 97.6vw);
  }
  
  .slider-img{
    width: 97.6vw;
  }
  
  .slider-button-container{
    float: left;
    margin-top: -5vh;
    margin-left: 3vw;
  }
  
  .slider-button{
    margin-left: 10px;
  }
  
  /* Back bar */
  .back-bar{
    text-align: center;
  }
  
  .quote{
    margin-left: 2%;
    margin-top: 1%;
  }
  
  .quote h2{
    font-size: 5vw;
  }
  
  .social-icons-container{
    position: relative;
    margin: 3% 2% 2% 0%;
  }
  
  /* Articles */
  .article-container{
    width: 90%;
  }
  
  .article img{
    width: 100%;
  }
  
  .article  h2, .article > a, .article p{
    left: 10px;
  }
  
  /* Side bar */ 
  .side-bar{
    text-align: center;
    width: 100%;
  }
  
  /* Sponsor block */  
  .sponsor-table td{
    width: 20vw;
    border: 1px solid rgb(238, 238, 238);
  }
  
  .sponsor-table img{
    height: 8vw;
  }
  
  /*Footer*/
  .footer{
    text-align: center;
  }
  
  .footer > div{
    margin-top: 20px;
    margin-left: 5%;
  }
  
  .about{
    width: 90%;
  }
  
  .contact{
    width: 90%;
    text-align: center;
  }
  
  .flickr{
    width: 90%;
    margin-right: 0px;
  }
  
  .flickr-img{
    width: 76%;
  }  
}