@media screen and (min-width: 650px) and (max-width: 1029px){
  :root{
    --main-width: 100%;
  }
  /*Header*/
  .header{
    width: var(--main-width);
    height: 100px;
  }
  
  .logo{
    top: 55%;
    left: 2%;
    width: 39%;
  }
  
  .header-label{
    top: 57%;
    left: 43%;
    padding-left: 0.5vw;
    font-size: 1.5vw;
  }
  
  .search-bar{
    top: 20px;
    right: 20px;
  }
  
  .search-input{
    height: 20px;
  }
  
  .search-button{
    height: 22px;
  }
  
  /*Slider*/
  .slide-container{
    width: 96.5vw;
  }
  
  .slide-img-container{
    position: relative;
    width: calc(6 * 97.6vw);
  }
  
  .slider-img{
    width: 97.6vw;
  }
  
  .slider-button-container{
    float: left;
    margin-top: -5vh;
    margin-left: 3vw;
  }
  
  .slider-button{
    margin-left: 10px;
  }
  
  /* Back bar */
  .quote{
    margin-left: 2%;
    margin-top: 1%;
    float: left;
  }
  
  .quote h2{
    font-size: 110%;
  }
  
  .social-icons-container{
    position: relative;
    float: right;
    margin: 3% 2% 2% 0%;
  }
  
  /* Articles */
  .article-container{
    width: 65%;
  }
  
  .article  h2, .article > a, .article p{
    left: 20px;
  }
  
  /* Side bar */ 
  .side-bar{
    width: 32%;
    height: 60%;
  }
  
  .side-bar > * {
    margin-left: 20px;
  }
  
    /* Sponsor block */
  .sponsor-table td{
    height: 2vh;
    width: 10vw;
    border: 8px solid rgb(238, 238, 238);
    padding: 5px;
  }
  
  .sponsor-table img{
    height: 5vh;
  }
  
  /*Footer !!!! FIX!!!!!*/ 
  .footer > div{
    margin-top: 20px;
    width: 30vw;
  }
  
  .about{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .flickr{
    margin-right: 10px;
    text-align: center;
  }  
}